a {
  color: #00779d;
  text-decoration: underline; }
  a:hover {
    color: black; }
  a::before {
    display: inline-block;
    margin-right: 5px;
    position: relative;
    text-decoration: none;
    top: 2px; }

.link {
  color: #00779d;
  cursor: pointer;
  text-decoration: none; }
  .link:hover {
    color: #0f273b; }
  .link.link--icon {
    line-height: 1.5; }
    .link.link--icon::before {
      color: #0f273b;
      display: inline-block;
      font-size: 24px;
      margin-right: 5px;
      position: relative;
      top: 3px; }
  .link--underlined {
    text-decoration: underline; }
  .link--white {
    color: white; }
    .link--white:hover {
      color: white; }
  .link--black {
    color: black; }
    .link--black:hover {
      color: black; }

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0; }
  button::before {
    display: inline-block;
    font-size: 30px;
    position: relative; }
  button[disabled] {
    cursor: not-allowed;
    opacity: 0.65; }

.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #dddddd;
  border: 3px solid transparent;
  border-radius: 25px;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica-Neue-Bold", "Helvetica", "Arial", sans-serif;
  font-size: 18px;
  line-height: 22px;
  padding: 11px 20px;
  position: relative;
  text-align: left;
  text-decoration: none; }
  .button:hover:not(:disabled), .button.button--active {
    background-color: black;
    color: white; }
  .button--big {
    align-items: center;
    display: flex;
    justify-content: center;
    min-width: 240px;
    text-align: center; }
  .button--blue {
    background: linear-gradient(170deg, #00a0d2 50%, #0081aa 100%);
    background-color: #00a0d2;
    border: 0;
    color: white;
    filter: progid:DXImageTransform.Microsoft.gradient startColor str="#00a0d2", endColorstr="#0081aa", GradientType=1;
    padding: 14px 23px; }
    .button--blue:hover:not(:disabled), .button--blue.button--active {
      background-color: black;
      background-image: none; }
  .button--black {
    background-color: black;
    color: white; }
    .button--black:hover:not(:disabled), .button--black.button--active {
      background-color: white;
      border-color: black;
      color: black; }
  .button--outline {
    background-color: transparent;
    border-color: #dddddd; }
    .button--outline:hover:not(:disabled), .button--outline.button--active {
      background-color: #dddddd;
      color: black; }
    .button--outline::after {
      border-radius: inherit;
      bottom: 0;
      content: "";
      display: block;
      left: 0;
      margin: -3px;
      position: absolute;
      right: 0;
      top: 0; }
    .button--outline.button--white {
      border-color: white;
      color: white; }
      .button--outline.button--white:hover:not(:disabled), .button--outline.button--white.button--active {
        background-color: white;
        color: black; }
    .button--outline.button--black {
      border-color: black;
      color: black; }
      .button--outline.button--black:hover:not(:disabled), .button--outline.button--black.button--active {
        background-color: black;
        color: white; }
  .button.button--icon {
    padding-right: 62px; }
    .button.button--icon:empty {
      padding-right: 40px; }
    .button.button--icon::before {
      align-items: center;
      bottom: 0;
      display: flex;
      font-size: 30px;
      margin-right: 0;
      position: absolute;
      right: 15px;
      top: 2px; }
    .button.button--icon.button--big {
      padding: 11px 50px; }
    .button.button--icon.button--centered {
      padding-left: 62px;
      padding-right: 62px; }

.button-group {
  margin: 0 auto; }
  .button-group .button,
  .button-group .link {
    display: block;
    margin-top: 1.5rem; }
    .button-group .button:first-child,
    .button-group .link:first-child {
      margin-top: 0; }
  .button-group .link {
    line-height: 30px;
    padding: 0;
    width: 100%; }
  .button-group--narrowed {
    max-width: 350px; }
    .button-group--narrowed .button,
    .button-group--narrowed .link {
      text-align: center;
      width: 100%; }
  .button-group--align-center .button {
    margin-left: auto;
    margin-right: auto; }
  .button-group--align-center .link {
    text-align: center; }
  .button-group--align-left .button {
    margin-left: 0;
    margin-right: auto; }
  .button-group--align-left .link {
    text-align: left; }
  .button-group--align-right .button {
    margin-left: auto;
    margin-right: 0; }
  .button-group--align-right .link {
    text-align: right; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica-Neue-Bold", "Helvetica", "Arial", sans-serif;
  font-size: 22px;
  font-weight: normal;
  line-height: 1;
  margin: 0; }
  h1.headline-primary,
  h2.headline-primary,
  h3.headline-primary,
  h4.headline-primary,
  h5.headline-primary,
  h6.headline-primary {
    font-size: 26px; }
    @media (min-width: 576px) {
      h1.headline-primary,
      h2.headline-primary,
      h3.headline-primary,
      h4.headline-primary,
      h5.headline-primary,
      h6.headline-primary {
        font-size: 32px; } }
    @media (min-width: 1200px) {
      h1.headline-primary,
      h2.headline-primary,
      h3.headline-primary,
      h4.headline-primary,
      h5.headline-primary,
      h6.headline-primary {
        font-size: 40px; } }
    @media (min-width: 1600px) {
      h1.headline-primary,
      h2.headline-primary,
      h3.headline-primary,
      h4.headline-primary,
      h5.headline-primary,
      h6.headline-primary {
        font-size: 54px; } }
  h1.headline-primary-large,
  h2.headline-primary-large,
  h3.headline-primary-large,
  h4.headline-primary-large,
  h5.headline-primary-large,
  h6.headline-primary-large {
    font-size: 32px; }
    @media (min-width: 576px) {
      h1.headline-primary-large,
      h2.headline-primary-large,
      h3.headline-primary-large,
      h4.headline-primary-large,
      h5.headline-primary-large,
      h6.headline-primary-large {
        font-size: 36px; } }
    @media (min-width: 768px) {
      h1.headline-primary-large,
      h2.headline-primary-large,
      h3.headline-primary-large,
      h4.headline-primary-large,
      h5.headline-primary-large,
      h6.headline-primary-large {
        font-size: 42px; } }
    @media (min-width: 992px) {
      h1.headline-primary-large,
      h2.headline-primary-large,
      h3.headline-primary-large,
      h4.headline-primary-large,
      h5.headline-primary-large,
      h6.headline-primary-large {
        font-size: 55px; } }
    @media (min-width: 1200px) {
      h1.headline-primary-large,
      h2.headline-primary-large,
      h3.headline-primary-large,
      h4.headline-primary-large,
      h5.headline-primary-large,
      h6.headline-primary-large {
        font-size: 70px; } }
    @media (min-width: 1600px) {
      h1.headline-primary-large,
      h2.headline-primary-large,
      h3.headline-primary-large,
      h4.headline-primary-large,
      h5.headline-primary-large,
      h6.headline-primary-large {
        font-size: 90px; } }
  h1.headline-secondary,
  h2.headline-secondary,
  h3.headline-secondary,
  h4.headline-secondary,
  h5.headline-secondary,
  h6.headline-secondary {
    font-size: 22px; }
    @media (min-width: 576px) {
      h1.headline-secondary,
      h2.headline-secondary,
      h3.headline-secondary,
      h4.headline-secondary,
      h5.headline-secondary,
      h6.headline-secondary {
        font-size: 24px; } }
    @media (min-width: 1200px) {
      h1.headline-secondary,
      h2.headline-secondary,
      h3.headline-secondary,
      h4.headline-secondary,
      h5.headline-secondary,
      h6.headline-secondary {
        font-size: 26px; } }
    @media (min-width: 1600px) {
      h1.headline-secondary,
      h2.headline-secondary,
      h3.headline-secondary,
      h4.headline-secondary,
      h5.headline-secondary,
      h6.headline-secondary {
        font-size: 28px; } }
  h1.headline-secondary-large,
  h2.headline-secondary-large,
  h3.headline-secondary-large,
  h4.headline-secondary-large,
  h5.headline-secondary-large,
  h6.headline-secondary-large {
    font-size: 30px; }
    @media (min-width: 576px) {
      h1.headline-secondary-large,
      h2.headline-secondary-large,
      h3.headline-secondary-large,
      h4.headline-secondary-large,
      h5.headline-secondary-large,
      h6.headline-secondary-large {
        font-size: 32px; } }
    @media (min-width: 768px) {
      h1.headline-secondary-large,
      h2.headline-secondary-large,
      h3.headline-secondary-large,
      h4.headline-secondary-large,
      h5.headline-secondary-large,
      h6.headline-secondary-large {
        font-size: 36px; } }
    @media (min-width: 992px) {
      h1.headline-secondary-large,
      h2.headline-secondary-large,
      h3.headline-secondary-large,
      h4.headline-secondary-large,
      h5.headline-secondary-large,
      h6.headline-secondary-large {
        font-size: 50px; } }
    @media (min-width: 1200px) {
      h1.headline-secondary-large,
      h2.headline-secondary-large,
      h3.headline-secondary-large,
      h4.headline-secondary-large,
      h5.headline-secondary-large,
      h6.headline-secondary-large {
        font-size: 60px; } }
    @media (min-width: 1600px) {
      h1.headline-secondary-large,
      h2.headline-secondary-large,
      h3.headline-secondary-large,
      h4.headline-secondary-large,
      h5.headline-secondary-large,
      h6.headline-secondary-large {
        font-size: 80px; } }
  h1.headline-small,
  h2.headline-small,
  h3.headline-small,
  h4.headline-small,
  h5.headline-small,
  h6.headline-small {
    font-size: 16px; }
    @media (min-width: 576px) {
      h1.headline-small,
      h2.headline-small,
      h3.headline-small,
      h4.headline-small,
      h5.headline-small,
      h6.headline-small {
        font-size: 18px; } }
    @media (min-width: 768px) {
      h1.headline-small,
      h2.headline-small,
      h3.headline-small,
      h4.headline-small,
      h5.headline-small,
      h6.headline-small {
        font-size: 20px; } }
    @media (min-width: 1600px) {
      h1.headline-small,
      h2.headline-small,
      h3.headline-small,
      h4.headline-small,
      h5.headline-small,
      h6.headline-small {
        font-size: 22px; } }

p {
  font-family: "Helvetica-Neue-LTW-Light", "Segoe UI", "Open Sans", "Helvetica Neue", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.4; }
  p.text-primary {
    font-size: 16px; }
    @media (min-width: 576px) {
      p.text-primary {
        font-size: 18px; } }
    @media (min-width: 768px) {
      p.text-primary {
        font-size: 20px; } }
    @media (min-width: 992px) {
      p.text-primary {
        font-size: 22px; } }
    @media (min-width: 1200px) {
      p.text-primary {
        font-size: 24px; } }
    @media (min-width: 1600px) {
      p.text-primary {
        font-size: 28px; } }

h1,
h2,
h3,
p {
  margin: 0 0 15px 0; }
  h1:last-child,
  h2:last-child,
  h3:last-child,
  p:last-child {
    margin-bottom: 0; }

.text-element--narrow > * {
  margin-left: auto;
  margin-right: auto; }
  @media (min-width: 576px) {
    .text-element--narrow > * {
      max-width: 420px; } }
  @media (min-width: 768px) {
    .text-element--narrow > * {
      max-width: 570px; } }
  @media (min-width: 992px) {
    .text-element--narrow > * {
      max-width: 610px; } }
  @media (min-width: 1200px) {
    .text-element--narrow > * {
      max-width: 730px; } }
  @media (min-width: 1600px) {
    .text-element--narrow > * {
      max-width: 948px; } }

.text--script {
  font-family: "DreiScript-Bold", "Arial", sans-serif;
  font-size: 1.1em;
  font-weight: 400; }

.text--light {
  font-family: "Helvetica-Neue-LTW-Light", "Segoe UI", "Open Sans", "Helvetica Neue", "Arial", sans-serif; }

.text--blue {
  color: #00a0d2; }

.text--green {
  color: #409c4c; }

.text--black {
  color: black; }

.text--white {
  color: white; }

.text--darkgrey {
  color: #5c5c5c; }

.text--left {
  text-align: left; }

.text--center {
  text-align: center; }

.text--right {
  text-align: right; }

.text--underline {
  text-decoration: underline; }

.text--link-blue {
  color: #00779d; }

.text--legal {
  color: #5c5c5c;
  font-family: "Helvetica-Neue-LTW-Light", "Segoe UI", "Open Sans", "Helvetica Neue", "Arial", sans-serif;
  font-size: clamp(0.7rem, 1.25vw, 0.75rem); }

small {
  font-family: "Helvetica-Neue-LTW-Light", "Segoe UI", "Open Sans", "Helvetica Neue", "Arial", sans-serif;
  font-size: 12px; }

b,
strong {
  font-family: "Helvetica-Neue-Bold", "Helvetica", "Arial", sans-serif;
  font-weight: normal; }

sup {
  font-size: 12px;
  vertical-align: top; }

@font-face {
  font-display: block;
  font-family: "drei";
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/drei/drei-2020.woff2) format("woff2"), url(../fonts/drei/drei-2020.woff) format("woff"), url(../fonts/drei/drei-2020.ttf) format("truetype"); }

[data-icon]::before {
  content: attr(data-icon);
  content: attr(data-icon);
  font-family: "drei";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none; }

[class^="icon-"]::before,
[class*=" icon-"]::before,
[class*="	icon-"]::before {
  content: attr(data-icon);
  font-family: "drei";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none; }

.icon-amazon-music-quickstart::before {
  content: "\e300"; }

.icon-drei-box-quickstart::before {
  content: "\e301"; }

.icon-drei-cloud-quickstart::before {
  content: "\e302"; }

.icon-drei-empfiehlt-quickstart::before {
  content: "\e303"; }

.icon-drei-erotik-quickstart::before {
  content: "\e304"; }

.icon-drei-film-quickstart::before {
  content: "\e305"; }

.icon-drei-friendfinder-quickstart::before {
  content: "\e306"; }

.icon-drei-games-quickstart::before {
  content: "\e307"; }

.icon-drei-home-quickstart::before {
  content: "\e308"; }

.icon-drei-inside-quickstart::before {
  content: "\e309"; }

.icon-drei-kiosk-quickstart::before {
  content: "\e30a"; }

.icon-drei-kundenzone-quickstart::before {
  content: "\e30b"; }

.icon-drei-mobiletv-quickstart::before {
  content: "\e30c"; }

.icon-drei-newsflash-quickstart::before {
  content: "\e30d"; }

.icon-drei-planet-drei-quickstart::before {
  content: "\e30e"; }

.icon-drei-wertkarte-quickstart::before {
  content: "\e30f"; }

.icon-dreitv-quickstart::before {
  content: "\e310"; }

.icon-guthaben-quickstart::before {
  content: "\e311"; }

.icon-hilfe-quickstart::before {
  content: "\e312"; }

.icon-4g::before {
  content: "\e113"; }

.icon-5g::before {
  content: "\e114"; }

.icon-14-tage::before,
.icon-14tage::before {
  content: "\e01e"; }

.icon-agb::before {
  content: "\e116"; }

.icon-arrow-down::before,
.icon-arrow-down-2019::before {
  content: "\e00c"; }

.icon-arrow-left::before {
  content: "\e06f"; }

.icon-arrow-left-2019::before,
.icon-arrow-btn-right::before {
  content: "\e0c3"; }

.icon-arrow-left-end::before {
  content: "\e11a"; }

.icon-arrow-right::before,
.icon-arrow-right-2019::before {
  content: "\e11b"; }

.icon-arrow-right-end::before {
  content: "\e11c"; }

.icon-arrow-turn::before,
.icon-turn::before {
  content: "\e0c8"; }

.icon-arrow-up::before,
.icon-arrow-up-2019::before {
  content: "\e047"; }

.icon-basket-empty::before,
.icon-basket-empty-2019::before {
  content: "\e0c5"; }

.icon-basket-full::before,
.icon-basket-full-2019::before {
  content: "\e0c6"; }

.icon-beenden::before {
  content: "\e020"; }

.icon-benachrichtigungen::before {
  content: "\e021"; }

.icon-biowetter::before {
  content: "\e008"; }

.icon-cal-freigegeben::before {
  content: "\e124"; }

.icon-calendar::before {
  content: "\e125"; }

.icon-chat::before {
  content: "\e022"; }

.icon-chevron-down::before {
  content: "\e066"; }

.icon-chevron-left::before {
  content: "\e129"; }

.icon-chevron-right::before {
  content: "\e12a"; }

.icon-chevron-up::before {
  content: "\e04a"; }

.icon-close::before {
  content: "\e04e"; }

.icon-cookie::before {
  content: "\e12d"; }

.icon-cube::before {
  content: "\e056"; }

.icon-datendiensteundromaing::before {
  content: "\e023"; }

.icon-downloads::before {
  content: "\e024"; }

.icon-drei-bestpartner::before {
  content: "\e131"; }

.icon-drei-bestpartner-closed::before {
  content: "\e132"; }

.icon-drei-empfiehlt::before,
.icon-3empfiehlt::before {
  content: "\e001"; }

.icon-drei-friendfinder::before,
.icon-3friendfinder::before {
  content: "\e003"; }

.icon-drei-newsflash::before,
.icon-3newsflash::before {
  content: "\e006"; }

.icon-drei-stores::before,
.icon-3stores::before {
  content: "\e01d"; }

.icon-dreibox::before,
.icon-3box::before {
  content: "\e00d"; }

.icon-dreitv-los::before {
  content: "\e13a"; }

.icon-drucken::before {
  content: "\e009"; }

.icon-duplicate::before {
  content: "\e054"; }

.icon-edit::before {
  content: "\e03d"; }

.icon-einstellungen::before {
  content: "\e025"; }

.icon-eishockey::before {
  content: "\e00a"; }

.icon-entertainment::before {
  content: "\e026"; }

.icon-erotik::before {
  content: "\e027"; }

.icon-external-link::before,
.icon-externallink::before {
  content: "\e050"; }

.icon-feedback::before {
  content: "\e057"; }

.icon-festnetzersatz::before {
  content: "\e144"; }

.icon-file::before {
  content: "\e045"; }

.icon-formel1::before {
  content: "\e00b"; }

.icon-freizeit::before {
  content: "\e000"; }

.icon-freizeitallerlei::before {
  content: "\e019"; }

.icon-freizeittipps::before {
  content: "\e018"; }

.icon-fuball::before,
.icon-fussball::before {
  content: "\e017"; }

.icon-genres::before {
  content: "\e034"; }

.icon-gesundheit::before {
  content: "\e016"; }

.icon-glasfaser-festnetz-internet::before {
  content: "\e04d"; }

.icon-gratislieferung::before {
  content: "\e033"; }

.icon-grossunternehmen::before {
  content: "\e14f"; }

.icon-grundgebuhr::before {
  content: "\e032"; }

.icon-handy::before {
  content: "\e031"; }

.icon-hilfekontakt::before {
  content: "\e030"; }

.icon-horoskop::before {
  content: "\e015"; }

.icon-hybrid-internet::before {
  content: "\e155"; }

.icon-impressum::before {
  content: "\e02f"; }

.icon-info::before {
  content: "\e055"; }

.icon-jetzt-im-kino::before,
.icon-jetztimkino::before {
  content: "\e02e"; }

.icon-kids::before {
  content: "\e02c"; }

.icon-kinodonnerstag::before {
  content: "\e02d"; }

.icon-kinos::before {
  content: "\e02b"; }

.icon-kmu::before {
  content: "\e05c"; }

.icon-kontakt::before {
  content: "\e15d"; }

.icon-kundenzone::before,
.icon-3kundenzone::before {
  content: "\e01c"; }

.icon-lock::before {
  content: "\e15f"; }

.icon-lotto-toto::before,
.icon-lottototto::before {
  content: "\e014"; }

.icon-macro-sim::before,
.icon-macrosim::before {
  content: "\e02a"; }

.icon-mehrwertdienste::before {
  content: "\e029"; }

.icon-mein-ort::before,
.icon-meinort::before {
  content: "\e028"; }

.icon-mein-paket::before,
.icon-meinpaket::before {
  content: "\e035"; }

.icon-micro-sim::before,
.icon-microsim::before {
  content: "\e038"; }

.icon-mitarbeiterbereich::before {
  content: "\e039"; }

.icon-monatszahlung::before {
  content: "\e167"; }

.icon-musik::before {
  content: "\e03b"; }

.icon-newssport::before {
  content: "\e03c"; }

.icon-nicht-hilfreich::before {
  content: "\e06a"; }

.icon-pin-empty::before {
  content: "\e06b"; }

.icon-plus::before {
  content: "\e04f"; }

.icon-pollenflug::before {
  content: "\e013"; }

.icon-radio::before {
  content: "\e03e"; }

.icon-rechnungen::before {
  content: "\e03f"; }

.icon-reload::before,
.icon-arrow-reload-2019::before {
  content: "\e0c4"; }

.icon-rubbeln::before {
  content: "\e071"; }

.icon-search::before,
.icon-search-2019::before {
  content: "\e068"; }

.icon-sim::before {
  content: "\e040"; }

.icon-sitemanager::before,
.icon-sitemenager::before {
  content: "\e041"; }

.icon-skitotal::before {
  content: "\e012"; }

.icon-spatenkanale::before {
  content: "\e042"; }

.icon-speed::before {
  content: "\e067"; }

.icon-spiele::before {
  content: "\e011"; }

.icon-sport::before {
  content: "\e010"; }

.icon-sport-allgemein::before,
.icon-sportallgemein::before {
  content: "\e00f"; }

.icon-spotify::before,
.icon-3spotify::before {
  content: "\e007"; }

.icon-startseite::before {
  content: "\e043"; }

.icon-tablet::before {
  content: "\e05a"; }

.icon-top-sender::before,
.icon-topsender::before {
  content: "\e044"; }

.icon-troy::before {
  content: "\e053"; }

.icon-unwetterwarnung::before {
  content: "\e00e"; }

.icon-user::before,
.icon-user-2019::before {
  content: "\e0c9"; }

.icon-vertragsinfo::before {
  content: "\e036"; }

.icon-wetter::before {
  content: "\e01a"; }

.icon-wholesale::before {
  content: "\e085"; }

.icon-x::before {
  content: "\e058"; }

.icon-zahlung::before {
  content: "\e087"; }

.icon-zusatzmenge::before {
  content: "\e037"; }

.icon-zusatzpaket::before {
  content: "\e03a"; }

.icon-f::before {
  content: "\e05f"; }

.icon-g::before {
  content: "\e05e"; }

.icon-i::before {
  content: "\e05d"; }

.icon-l::before {
  content: "\e061"; }

.icon-s::before {
  content: "\e062"; }

.icon-t::before {
  content: "\e063"; }

.icon-y::before {
  content: "\e060"; }

.icon-x-1::before {
  content: "\e064"; }

.icon-neo::before,
.icon-3neo::before {
  content: "\e059"; }

.icon-tarif-download::before {
  content: "\e102"; }

.icon-tarif-unlimited::before {
  content: "\e105"; }

.icon-tarif-upload::before {
  content: "\e103"; }

.icon-dreifilm::before,
.icon-3film::before {
  content: "\e002"; }

.icon-dreimobiletv::before,
.icon-3mobiletv::before {
  content: "\e005"; }

.icon-allesender::before {
  content: "\e01f"; }

.icon-rufnummernmitnahme-light::before {
  content: "\e31b"; }

.icon-attachment::before {
  content: "\e01b"; }

.icon-gps::before {
  content: "\e046"; }

.icon-ordner::before {
  content: "\e049"; }

.icon-ordner-add::before {
  content: "\e04b"; }

.icon-papierkorb::before {
  content: "\e04c"; }

.icon-qr-code::before {
  content: "\e051"; }

.icon-wifi::before {
  content: "\e05b"; }

.icon-warten::before {
  content: "\e069"; }

.icon-stern-full::before {
  content: "\e06c"; }

.icon-update::before {
  content: "\e06d"; }

.icon-uhrzeit::before {
  content: "\e06e"; }

.icon-telefon::before {
  content: "\e052"; }

.icon-dreicloud::before,
.icon-3cloud::before {
  content: "\e152"; }

.icon-drei-kiosk::before,
.icon-3kiosk::before {
  content: "\e004"; }

.icon-uploads::before {
  content: "\e065"; }

.icon-check::before {
  content: "\e048"; }

.icon-profil-1::before,
.icon-profil::before {
  content: "\e0c9"; }

.icon-basket::before {
  content: "\e049"; }

.icon-versenden::before {
  content: "\e00d"; }

.icon-facebook::before {
  content: "\e05f"; }

.icon-instagram::before {
  content: "\e05d"; }

.icon-google::before {
  content: "\e05e"; }

.icon-youtube::before {
  content: "\e060"; }

.icon-linkedin::before {
  content: "\e061"; }

.icon-snapchat::before {
  content: "\e062"; }

.icon-twitter::before {
  content: "\e063"; }

.icon-xing::before {
  content: "\e064"; }

.icon-data2phones::before {
  content: "\e05b"; }

.icon-dataphone::before {
  content: "\e05c"; }

.header {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .header .header-img-ctr {
    background-color: white;
    padding: 25px 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: calc(100vw - 100%); }
    .header .header-img-ctr .header-img {
      width: 100%;
      max-width: 104px; }
  .header .header-title-ctr {
    padding: 9px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.088774);
    padding-left: calc(100vw - 100%); }
    .header .header-title-ctr h1 {
      font-weight: 400;
      font-size: 20px;
      margin: 0; }

html {
  font-size: 62.5%; }

body {
  margin: 0;
  font-size: 16px;
  font-family: "Helvetica Neue", "Helvetica-Neue-LTW-Light", "Segoe UI", "Open Sans", "Arial", sans-serif;
  background-color: var(--bg-default);
  display: flex;
  flex-direction: column; }
  body main {
    padding-left: calc(100vw - 100%); }

.content {
  margin: 70px 16px;
  padding: 24px;
  border-radius: 16px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center; }
  .content h2 {
    font-size: 22px;
    margin: 0;
    text-align: center;
    font-weight: 600; }
  .content form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px; }
    .content form label {
      font-size: 14px; }
    .content form input {
      display: block;
      margin: 50px 0;
      border: none;
      padding: 0;
      width: 8.5ch;
      background: repeating-linear-gradient(90deg, #979797 0, #979797 1ch, transparent 0, transparent 1.5ch) 0 100%/9ch 2px no-repeat;
      font-size: 50px;
      letter-spacing: 0.5ch; }
      .content form input:focus {
        outline: none;
        color: dodgerblue; }
    .content form button {
      text-align: center;
      width: 100%; }
  .content ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0; }
    .content ul li {
      display: flex;
      flex-direction: row;
      align-items: center;
      border-bottom: solid 1px;
      border-color: var(--border-gray);
      padding: 17px 0; }
      .content ul li:last-child {
        border-bottom: none;
        padding-bottom: 0; }
      .content ul li p {
        padding-left: 14px;
        font-size: 16px; }

.help {
  font-size: 14px;
  margin: 24px 0 0 0; }
  .help a {
    text-decoration: none;
    color: #00a0d2; }

:root {
  --black: #000000;
  --white: #ffffff;
  --bg-default: #F1F1F1;
  --grey-text: #797979;
  --success-text: #5FA53F;
  --border-gray: #D8D8D8;
  --acc-title-gray: #606060; }
