$char-width: 1ch;
$gap: .5*$char-width;
$char-number: 6;
$input-width: $char-number*($char-width + $gap) - $gap;

html {
	font-size: 62.5%;
}

body {
	margin: 0;
	font-size: 16px;
	font-family: "Helvetica Neue", "Helvetica-Neue-LTW-Light", "Segoe UI", "Open Sans", "Arial", sans-serif;
	background-color: var(--bg-default);
	display: flex;
	flex-direction: column;

	main {
		padding-left: calc(100vw - 100%);
	}
}

.content {
	margin: 70px 24px;
	padding: 24px;
	border-radius: 16px;
	background-color: var(--white);
	display: flex;
	flex-direction: column;
	align-items: center;

	h2 {
		font-size: 22px;
		margin: 0;
		text-align: center;
		font-weight: 600;
	}

	form {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 24px;

		label {
			font-size: 14px;
		}

		input {
    		display: block;
    		margin: 50px 0;
    		border: none;
			padding: 0;
			width: $input-width;
			background: repeating-linear-gradient(90deg, 
			#979797 0, #979797 $char-width, 
				transparent 0, transparent $char-width + $gap) 
				0 100%/ #{$input-width + $gap} 2px no-repeat;
			font-size: 50px;
			letter-spacing: $gap;

    		&:focus {
    		    outline: none;
    		    color: dodgerblue;
    		}
}

		button {
			text-align: center;
			width: 100%;
		}
	}
}

.help {
	font-size: 14px;
	margin: 24px 0 0 0;

	a {
		text-decoration: none;
		color:  #00a0d2;
	}
}
